.logo-container {
    z-index: 0;
    width: 800px;
    height: 609px;
    position: absolute;
    top:0;
    right: -50px;
    bottom: 0;
    left: auto;
    margin: auto;
    margin-top: -50px;
    pointer-events:none;
    
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;

    }
    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        transform: rotateZ(-30deg);
        z-index: 0;
        opacity: 0.3;
        animation: fadeIn1 5s 1s;
    }

    @keyframes fadeIn1 {
        0% {opacity: 0;}
        100% {opacity: 0.3}
    }
    .svg-container{
        stroke: #ffd700;
        stroke-width: 10;
    }
}