.tag-section {
    color: #ffd700;
    opacity: 0.5;
    bottom: 0;
    margin-left: -40px;
    font-size: 20px;
    font-family: 'La Belle Aurore'
}
.stage-cube-cont{
    width: 450px;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 5%;
    
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 12vw;
        height: 12vw;
        border: 1px solid #ccc;
        background: rgb(5, 23, 71);
        font-size: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightblue;
        opacity:0.8;
    }

    .face1{
        transform: translateZ(6vw);
    }
    .face2{
        transform: rotateY(90deg) translateZ(6vw);
    }
    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(6vw);
    }
    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(6vw);
    }
    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(6vw);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(6vw);
    }


}

@keyframes spincube {
    from, 
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    }
    16%{
        transform: rotateY(-90deg)
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg)
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg)
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg)
    }
    83%{
        transform: rotateX(90deg) rotateZ(90deg)
    }
}

.portfolio-page{
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;
    .images-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .image-box{
        position: relative;
        flex: 1 1 20%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        max-width: calc(25% - 10px);

        .portfolio-image {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.btn {
    width: max-content;
    display: inline-block;
    color: gray;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid gray;
    transition: var(--transition);
}

.btn:hover {
    background: white;
    color: blue;
    border-color: transparent;
}

.btn-primary {
    background: blue;
    color: black
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.portfolio-container{
    display: grid;
    grid-template-columns: 40% 40% ;
    gap: 4.5rem;
    width: 80%;
    margin-left: 180px;
    grid-auto-flow: row;
    justify-content: space-around;

}
.portfolio-buttons {
    display: flex;
    justify-content: space-around;
}
.portfolio-heading {
    display: flex;
    font-size: 60px;
    font-family: Coolvetica;
    color: #ffd700;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 50px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    opacity: 0;
    width: 400px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid white;
    animation: fadeInUp 2s 1s;
    animation-fill-mode: forwards;
  }

  @for $i from 1 through 4 {
    .flip-card._#{$i} {
        animation-delay: #{$i /2 + 1}s;
    }
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    justify-content: center;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 6px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: transparent;
    transform: rotateY(180deg);
    border: 1px solid transparent;
    align-items: center;
  }
  h3 {
    padding-top: 40px;
    font-size: 20px;
    font-family: Coolvetica;
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 0px;
    left: 10px;
  }
  h4 {
    padding-top: 20px;
    font-size: 20px;
    font-family: Coolvetica;
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 0px;
    left: 10px;
  }
  p {
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300px;
    min-width: fit-content;
  }