.tag-section {
    color: #ffd700;
    opacity: 0.5;
    bottom: 0;
    margin-left: -40px;
    font-size: 20px;
    font-family: 'La Belle Aurore'
}

.profile-image-container{
    width: 100%;
}
.profile-image{
    position: absolute;
    right: 15%;
    top: calc(15% + 6vw);
    width: 20%;
    animation: fadeInRight 2s 1s;
}
